/* リセット */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body { 
  font-family: Meiryo, "Noto Sans JP", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  padding-top: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}
